* {
  margin: 0;
  padding: 0;
}
#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: contain;
}
.main {
  height: 100vh;
  display: flex;
}
.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.main__right {
  flex: 0.2;
}
.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #c0c0c0;
  padding: 5px;
  justify-content: space-between;
}
.main__controlsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}
.main__controlsBlock {
  display: flex;
}
.main__controlsButton i {
  font-size: 24px;
}
.main__controlsButton:hover {
  background-color: #b6c9b63b;
  border-radius: 5px;
}

.leave_meeting {
  color: #eb5348;
}
.main__right {
  display: flex;
  flex-direction: column;
  background-color: #242324;
}
.main__header {
  color: #f5f5f5;
  text-align: center;
}
.main__chatWindow {
  flex-grow: 1;
  overflow-y: scroll;
}
.main__messageContainer {
  padding: 22px 12px;
  display: flex;
}
.main__messageContainer input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}
.message {
  color: white;
  list-style: none;
  padding: 10px;
}
